// Specific CSS for your home-page
.banner {
  color: white;
  // text-align: center;
  padding: 30px 30px;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: 30% 40%;
  display: flex;
  align-items: center;
  // justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.banner-title {
  color: #6FCCD3;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.start-now {
  background-color: #6FCCD3;
}
.home-cards {
  margin: 30px;
}
.home-cards h3 {
  padding-left: 50px;
}
.categories-container {
  margin: 50px 30px 0;
  font-size: 14px;
}
