// Specific CSS for your home-page
.banner {
  color: white;
  // text-align: center;
  padding: 30px 70px;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: 30% 40%;
  display: flex;
  align-items: center;
  // justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}
.banner-title {
  color: #6FCCD3;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  font-size: 35px;
}
.home-search {
  margin-left: 30px;
}
.home-submit {
  background-color: #6FCCD3;
  border: none;
  margin-left: 10px;
  height: 50px;
}
.home-submit:hover {
  background-color: #3bb4c1;
}
.home-cards {
  margin: 30px;
}
.home-cards h3 {
  padding-left: 50px;
}
.categories-container {
  margin: 50px 30px 0;
  font-size: 14px;
}
.h-school-name {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
.i-school-card {
  height: 250px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  margin: 5px 20px;
  &:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
}
.school-logo {
  width: 100%;
  object-fit: contain;
  height: 150px;
}
.school-logo-card {
  width: 100%;
  height: 150px;
}
.school-description {
  text-align: center;
  line-height: 10px;
}
.h-school-detail {
  color: black;
  opacity: 0.7;
  font-size: 14px;
}
