.r-school-card {
  width: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  margin: 30px 20px;
  // min-width: 220px;
  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
}
.icon {
  color: #3bb4c1;
  // opacity: 0.7;
  position: absolute;
  top: 5px;
}
.ranking-card {
  display: flex;
  align-items: center;
  position: relative;
}
.ranking-school-logo {
  width: 30vw;
  height: 15vh;
  padding-left: 40px;
  object-fit: scale-down;
}
.r-school-description {
  margin-left: 50px;
  line-height: 10px;
}
.r-school-name {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
.r-school-detail {
  color: black;
  opacity: 0.7;
  font-size: 14px;
}
.ranking-star {
  color: black;
}
.ranking-unstar {
  color: black;
}
