.show-banner {
  height: 30vh;
  width: auto;
  text-shadow: 0 1px 3px rgba(0,0,0,0.45);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.show-card-logo {
  width: 100px;
  height: 100px;
}

.show-school-name {
  color: #3bb4c1;
  font-weight: bold;
  font-size: 40px;
}
.show-card-description {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 50px;
}
.s-school-card-description {
  margin-left: 20px;
}
.show-card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.show-container {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  align-content: center;
}
.show-c-content {
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  border-top-right-radius: 5px;
}

#review {
  margin: 20px 100px 0 100px ;
}
#course {
  margin: 20px 100px 0 100px ;
}
#about {
  margin: 20px 100px 0 100px ;
}


