.school-container {
  margin: 30px;
}
.school-search {
  padding-left: 20px;
}
.school-card {
  padding: 10px;
  // background-color: grey;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  margin: 30px 20px;
  // min-width: 220px;
}
.search-field {
  width: 300px;
  border-radius: 5px;
}
.school-logo {
  width: 100%;
  // background-size: cover;
}
.school-name {
  color: black;
  & a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  display: flex;
  justify-content: center;
}
