.school-container {
  margin: 50px;
}
.school-search {
  padding-left: 20px;
}
.school-card {
  padding: 10px;
  // background-color: grey;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  margin: 30px 20px;
}
.search-field {
  width: 300px;
  border-radius: 5px;
}
