.school-container {
  margin: 10px 47px;
}
.school-search {
  padding-left: 20px;
}
.school-card {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  margin: 30px 20px;
  // min-width: 220px;
  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
}
.search-field {
  width: 300px;
  height: 50px;
  border-radius: 5px;
}
.school-logo {
  width: 100%;
}
.school-name {
  color: black;
  & a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  display: flex;
  justify-content: center;
}
.school-description {
  color: #444444;
}
.school-description a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
