body {
  background-color: white;
}
.show-banner {
  height: 30vh;
  width: auto;
  text-shadow: 0 1px 3px rgba(0,0,0,0.45);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.show-card-logo {
  width: 100px;
  height: auto;
}

.show-school-name {
  color: #3bb4c1;
  font-weight: bold;
  font-size: 40px;
}
.show-card-description {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 50px;
  padding-left: 100px;
}
.s-school-card-description {
  margin-left: 20px;
  font-family: 'M PLUS 1p', sans-serif;
}
.show-card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.show-container {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  align-content: center;
}
.s-show-wrapper {
  background-color: white;
}
.detail-container {
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
  margin: 0 100px;
  padding: 30px;
}
.show-c-content {
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
  font-family: 'M PLUS 1p', sans-serif;
}
.s-write-review {
  background-color: #6FCCD3;
  border: none;
  margin-top: 20px;
  &:hover {
    background-color: #3bb4c1;
  }
}
.review-title-detail {
  padding: 10px;
}

#review {
  font-family: 'M PLUS 1p', sans-serif;
}
#course {
  font-family: 'M PLUS 1p', sans-serif;
}
#about {
  font-family: 'M PLUS 1p', sans-serif;
}


