<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1 class='navbar-title'>Kodama</h1>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to "スクール比較", schools_path, class: "nav-link" %>
    <%= link_to "ランキング", "#", class: "nav-link" %>
    <%= link_to "レビューを書く", new_review_path, class: "nav-link" %>
  </div>
</div>
