<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="banner" style="background-image: linear-gradient(-250deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%), url('https://res.cloudinary.com/drsb1n3km/image/upload/v1554111231/lewagonparis.jpg');">
  <div class="banner-content">
    <h1 class="banner-title">プログラミングスクール</h1>
    <p>Learn web development, Data Science or Design from the best course</p>
    <%#= simple_form_for @tags do %>
      <%#= f.input :name %>
    <%# end %>
    <a class="btn btn-lg start-now">Start now</a>
  </div>
</div>
