<div class="school-container">
  <div class="row">

    <% @schools.each do |school| %>
      <div class="col-xs-12 col-md-3">
        <div class="school-index">
          <div class="school-card">

            <p><%= school.name.capitalize! %></p>
            <p><%= school.about %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

