<%# @school.each do |s| %>
<div class="show-banner" style="background-image: linear-gradient(-250deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%), url('<%= cl_image_path(@school.banner) %>');">
</div>
<%#= image_tag(@school.banner) %>
<%# end %>
<h1>Schools#show</h1>
<p>Find me in app/views/schools/show.html.erb</p>
