<%# @school.each do |s| %>
<div class="show-banner" style="background-image: linear-gradient(-250deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%), url('<%= cl_image_path @school.banner %>');">
  <%= image_tag(@school.logo, class: 'show-card-logo') %>
  <div class="show-card-description">
    <h2 class='show-school-name'><%= @school.name %></h2>
  </div>
  <div class="show-card-category">stars</div>
  <div class="s-school-description">
    <%#= @school.price %>
  </div>
</div>

<div class="show-container">

  <input type="checkbox" style="display: none;" id="s-show-review">
  <label for="s-show-review" class='btn write-btn show-c-content review'>レビュー</label>

  <input type="checkbox" style="display: none;" id="s-show-course">
  <label for="s-show-course" class='btn write-btn show-c-content courses'>コース</label>

  <input type="checkbox" style="display: none;" id="s-show-about">
  <label for="s-show-about" class='btn write-btn show-c-content about'>概要</label>

</div>

  <div class="detail-container" >
    <div id="review"  style='display: none;'>
    </div>

    <div id="course" style='display: none;'>
    </div>

    <div id="about" style='display: none;' >
      <%= @school.about %>
    </div>
  </div>

<%#= @school.tag_list %>

