.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 0 30px 0 30px;
  color: #6FCCD3;
}
.nav-link {
  color: #6FCCD3;
  padding: 0 30px;
  font-weight: bold;
}
.nav-link:hover {
  color: #3bb4c1;
}
.navbar-title {
  color: #6FCCD3;
  padding-left: 30px;
}
