.navbar {
  box-shadow: 0 1px 5px #e3e7f1;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 0 30px 0 30px;
  color: #6FCCD3;
}
.nav-link {
  color: #6FCCD3;
  padding: 0 30px;
  font-weight: bold ;
  font-size: 20px ;
}
.nav-link:hover {
  color: #3bb4c1;
}
.navbar-title {
  color: #6FCCD3;
  padding-left: 50px;
}
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.nav-path a:hover, a:visited, a:link, a:active {
  // background: transparent !important;
  // color: black;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
